.cPagination {
  &__inner {
    height: 145px;
    overflow: auto;
    position: relative;

    @media (min-width: 1280px) {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__btn {
    border: none;
    margin: 10px;
    background-color: #000;
    color: #fff;
  }
}