.cPagination {
  &__inner {
    height: 145px;
    overflow: auto;
    position: relative;
  }

  &__btn {
    border: none;
    margin: 10px;
    background-color: #000;
    color: #fff;
  }
}

@media (min-width: 1280px) {
  .cPagination {
    &__inner {
      height: auto;
    }
  }
}