$space: 15px;
$space-desktop: 25px;
$form-elements-height: 30px;
$form-elements-border-radius: 20px;
$form-elements-border: 1px solid rgba(#fff, 0);
$primaryColor: #CD1A2C;
$secondaryColor: rgb(95, 146, 228);
$bg-color: #F99C59;