@import '../../shared/app.scss';

.cSearch {
  &__form {}

  &__input {}

  &__submit {
    color: #fff;
    background-color: #000;
  }

  &__small {
    font-size: 20px;

    i {
      min-width: 30px;
      display: inline-block;
      font-style: normal;
    }
  }
}